.features {
  display: flex;
  flex-direction: column;
  gap: 6rem;
  align-items: center;
  padding: 6rem 0;
  width: 100%;
}

.featureSvg {
  height: 200px;
  width: 200px;
}

.container {
  margin: 0 auto;
  max-width: var(--ifm-container-width);
  padding: 0 var(-ifm-spacing-horizontal);
  width: 100%;
  display: flex;
  gap: 40px;
}

@media screen and (max-width: 996px) {
  .container {
    flex-direction: column !important;
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .container > img {
    max-width: 580px;
    width: 100%;
    margin: auto;
  }

  .container > div {
    max-width: 580px;
    margin: auto;
  }
}
